<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">Pexeso</md-toolbar>
<md-sidenav-container>
  <md-sidenav opened="true" disableClose="true" mode="side">
    <!-- sidenav content -->
    <md-nav-list>
      <a md-list-item routerLink="/game">Game</a>
      <a md-list-item routerLink="/scoreboard">Score Board</a>
    </md-nav-list>
    <!-- <a >Pexeso Game</a>
    <a routerLink="/scoreboard">Score Board</a> -->
  </md-sidenav>

  <!-- primary content -->
  <router-outlet></router-outlet>
</md-sidenav-container>